   body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    margin: 0;
  }
  
  .anscontainer {
    width: 100%;
  }
  
  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: large;
    width: 100%;
    padding: 10px;
    background-color: #ffca00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .horicontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
  }
  
  button:hover {
    background-color: #ffd500;
  }
  
  #result {
    font-size: 24px;
  }
  
  @keyframes checkmark {
    0% { color: transparent; }
    100% { color: green; }
  }
  
  @keyframes cross {
    0% { color: transparent; }
    100% { color: red; }
  }
  
  .restart-button {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      width: 80%;
      padding: 15px;
    }
    input {
      width: 90%;
    }
    button {
      font-size: medium;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      width: 95%;
    }
    h1 {
      font-size: 20px;
    }
    input {
      width: 100%;
    }
    .horicontainer {
      grid-template-columns: 1fr;
    }
  }
  